.navList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    padding-inline-start: 0px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.navList li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}

